env
__pycache__/
*.pth
*.pt

datasets/**/benchmark/*
datasets/**/test/*
datasets/**/train/*
datasets/**/dev/*
datasets/**/*.zip

sources/deployment/*
sources/experiment/*
sources/pickle/*
sources/csv/*/*
sources/json/*
sotas/*
continue_training/*

weights/*
!weights/.gitkeep

!*.gitkeep
logs
wandb
tmp/

wandb_cache
script.md

data/
.vscode/
