torch
torchvision
opencv-python
pycocotools
matplotlib
Pillow
numpy
einops
timm
albumentations
termcolor
tqdm
pandas
typed-argument-parser
pytorch-lightning
streamlit
black
huggingface-hub
scikit-image
# pyrealsense2
